### Import your libraries

In [1]:
import pandas as pd
import numpy as np

### Load your dataset

In [116]:
hr = pd.read_csv("HR_Missing_Vslues.csv")
hr

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,NaN,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0
4,NaN,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,NaN,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,NaN,10010,220450.0,6,CIO,NaN,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN
310,NaN,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0

### Explore your data 

* First 5 recods
* Last 5 records 
* Check data type
* Show statistical summary 
* Is there any missing values ?
* Applay two more data analysis from your choose

In [117]:
hr.head(5)

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,NaN,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0
4,NaN,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0

In [118]:
hr.tail(5)

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,NaN,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,NaN,10010,220450.0,6,CIO,NaN,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN
310,NaN,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0

In [119]:
hr.dtypes

Employee_Name         object
EmpID                  int64
Salary               float64
PositionID             int64
Position              object
DOB                   object
Sex                   object
MaritalDesc           object
RaceDesc              object
DateofHire            object
DateofTermination     object
Department            object
ManagerName           object
ManagerID            float64
RecruitmentSource     object
Absences             float64
dtype: object

In [120]:
hr.describe()

              EmpID         Salary  PositionID   ManagerID    Absences
count    311.000000     249.000000  311.000000  303.000000  280.000000
mean   10156.000000   67972.662651   16.845659   14.570957   10.128571
std       89.922189   22995.908395    6.223419    8.078306    5.946407
min    10001.000000   45046.000000    1.000000    1.000000    1.000000
25%    10078.500000   55315.000000   18.000000   10.000000    4.750000
50%    10156.000000   62957.000000   19.000000   15.000000   10.000000
75%    10233.500000   71707.000000   20.000000   19.000000   15.250000
max    10311.000000  220450.000000   30.000000   39.000000   20.000000

In [121]:
hr.isnull().sum().sum()

494

In [122]:
hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_Name      218 non-null    object
 1   EmpID              311 non-null    int64
 2   Salary             249 non-null    float64
 3   PositionID         311 non-null    int64
 4   Position           311 non-null    object
 5   DOB                280 non-null    object
 6   Sex                249 non-null    object
 7   MaritalDesc        311 non-null    object
 8   RaceDesc           311 non-null    object
 9   DateofHire         311 non-null    object
 10  DateofTermination  104 non-null    object
 11  Department         311 non-null    object
 12  ManagerName        311 non-null    object
 13  ManagerID          303 non-null    float64
 14  RecruitmentSource  311 non-null    object
 15  Absences           280 non-null    float64
dtypes: float64(3), int64(2), object(11)
memory usage: 39.0+ KB

In [123]:
hr.shape

(311, 16)

### Do the following steps for each column with missing values.

* Identity the column 
* How much precentage the missing value represents 
* What is the best way to handle these missing values and why
* Apply your method to the column

In [124]:
hr.isnull().sum()

Employee_Name         93
EmpID                  0
Salary                62
PositionID             0
Position               0
DOB                   31
Sex                   62
MaritalDesc            0
RaceDesc               0
DateofHire             0
DateofTermination    207
Department             0
ManagerName            0
ManagerID              8
RecruitmentSource      0
Absences              31
dtype: int64

In [125]:
hr.isnull().sum()/len(hr) *100

Employee_Name        29.903537
EmpID                 0.000000
Salary               19.935691
PositionID            0.000000
Position              0.000000
DOB                   9.967846
Sex                  19.935691
MaritalDesc           0.000000
RaceDesc              0.000000
DateofHire            0.000000
DateofTermination    66.559486
Department            0.000000
ManagerName           0.000000
ManagerID             2.572347
RecruitmentSource     0.000000
Absences              9.967846
dtype: float64

In [126]:
#DateofTermination drop as its > 60 
#Employee_Name fill with 'not knownen' 
#Salary mean based on Position
#DOB fill with mode
#ManagerID fill with 0
#Absences fill with 0
#sex fill with unknowen

In [127]:
hr.drop(columns='DateofTermination',inplace = True)

In [128]:
DOB = hr['DOB'].mode()
DOB[0]

'06/14/87'

In [129]:
hr['Employee_Name'].fillna("not knownen", inplace = True)
hr['ManagerID'].fillna("0", inplace = True)
hr['Absences'].fillna("0", inplace = True)
hr['DOB'].fillna(DOB[0], inplace = True)

hr

C:\Users\skna1\AppData\Local\Temp\ipykernel_8696\4223542293.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  hr['ManagerID'].fillna("0", inplace = True)
C:\Users\skna1\AppData\Local\Temp\ipykernel_8696\4223542293.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  hr['Absences'].fillna("0", inplace = True)

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,Production,Michael Albert,22.0,LinkedIn,1.0
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,06/14/87,F,Married,White,1/7/2008,Production,Elijiah Gray,16.0,Indeed,15.0
4,not knownen,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,Production,Webster Butler,39.0,Google Search,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,Production,Kissy Sullivan,20.0,LinkedIn,13.0
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,06/14/87,F,Single,Asian,9/2/2008,Production,Brannon Miller,12.0,Google Search,4.0
308,not knownen,10010,220450.0,6,CIO,06/14/87,F,Single,White,4/10/2010,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,IT/IS,Simon Roup,4.0,Employee Referral,0
310,not knownen,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,Production,David Stanley,14.0,LinkedIn,2.0

In [130]:
hr.isnull().sum()/len(hr) *100

Employee_Name         0.000000
EmpID                 0.000000
Salary               19.935691
PositionID            0.000000
Position              0.000000
DOB                   0.000000
Sex                  19.935691
MaritalDesc           0.000000
RaceDesc              0.000000
DateofHire            0.000000
Department            0.000000
ManagerName           0.000000
ManagerID             0.000000
RecruitmentSource     0.000000
Absences              0.000000
dtype: float64

In [131]:
meanlist = hr.groupby('Position')['Salary'].mean()
meanlist.dropna(inplace = True)
meanlist

Position
Accountant I                     63507.666667
Administrative Assistant         52280.000000
Area Sales Manager               64245.272727
BI Developer                     95465.000000
BI Director                     110929.000000
CIO                             220450.000000
Data Analyst                     89932.571429
Database Administrator          107124.750000
Director of Operations          170500.000000
Director of Sales               180000.000000
IT Director                     178000.000000
IT Manager - Infra              157000.000000
IT Manager - Support            138888.000000
IT Support                       65431.750000
Network Engineer                 61605.000000
Principal Data Architect        120000.000000
Production Manager               74398.454545
Production Technician I          55534.357143
Production Technician II         64818.333333
Sales Manager                    69240.000000
Senior BI Developer              81584.000000
Software Engineer                97088.444444
Software Engineering Manager     77692.000000
Sr. Accountant                  102859.000000
Sr. DBA                         104437.000000
Sr. Network Engineer             93256.250000
Name: Salary, dtype: float64

In [150]:
def fun(pos, sal):
    if pd.isnull(sal):
        for i in meanlist.index:
            if i == pos:
                return meanlist[pos]
    else: 
        return sal

hr['Salary'] = list(map(fun, hr['Position'], hr['Salary']))
hr.isnull().sum()/len(hr) *100

Employee_Name         0.000000
EmpID                 0.000000
Salary                2.250804
PositionID            0.000000
Position              0.000000
DOB                   0.000000
Sex                  19.935691
MaritalDesc           0.000000
RaceDesc              0.000000
DateofHire            0.000000
Department            0.000000
ManagerName           0.000000
ManagerID             0.000000
RecruitmentSource     0.000000
Absences              0.000000
dtype: float64

In [151]:
#the rest of positions are higher places like CEO and so, so i will fill those with 0 
hr['Salary'].fillna("0", inplace = True)
hr.isnull().sum()/len(hr) *100

C:\Users\skna1\AppData\Local\Temp\ipykernel_8696\21496691.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  hr['Salary'].fillna("0", inplace = True)

Employee_Name         0.000000
EmpID                 0.000000
Salary                0.000000
PositionID            0.000000
Position              0.000000
DOB                   0.000000
Sex                  19.935691
MaritalDesc           0.000000
RaceDesc              0.000000
DateofHire            0.000000
Department            0.000000
ManagerName           0.000000
ManagerID             0.000000
RecruitmentSource     0.000000
Absences              0.000000
dtype: float64

In [152]:
hr['Sex'].fillna("unknown", inplace = True)
hr.isnull().sum()/len(hr) *100

Employee_Name        0.0
EmpID                0.0
Salary               0.0
PositionID           0.0
Position             0.0
DOB                  0.0
Sex                  0.0
MaritalDesc          0.0
RaceDesc             0.0
DateofHire           0.0
Department           0.0
ManagerName          0.0
ManagerID            0.0
RecruitmentSource    0.0
Absences             0.0
dtype: float64